<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.infomaat2" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31" >
        <activity
            android:name=".MainActivity3"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProfielPaginaActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PostsActivity"
            android:exported="false" />
        <activity
            android:name=".PersoonlijkeOverzichtActivity"
            android:exported="false" />
        <activity
            android:name=".InboxActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".FavorieteActivity"
            android:exported="false" />
        <activity
            android:name=".CommentActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.SplashScreen.x" />
        <activity
            android:name=".MyDBHelper"
            android:exported="false"
            android:theme="@style/Theme.SplashScreen.x" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.SplashScreen.x" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashScreen.x" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SplashScreen.x" />
    </application>

</manifest>